<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Shopping Cart', 'none')" />
<body>
<div class="container-fluid">
	<div th:replace="navigation :: header_menu"></div>
	<div th:replace="navigation :: search_nav"></div>
	<div>
		<h1>Checkout</h1>
	</div>
	
	<div class="row m-1">
		<div class="col-sm-8">
			<div class="card">
				<div class="card-header">
					<h5>Shipping information</h5>
				</div>
				<div class="card-body">
					<p>
						<b>Ship to:</b>&nbsp; [[${shippingAddress}]]
						<a th:href="@{/address_book}">[Ship to another address]</a>
					</p>
					<p>
						<b>Days to deliver: </b>[[${checkoutInfo.deliverDays}]] day(s)
					</p>
					<p>
						<b>Expected deliver date: </b>[[${#dates.format(checkoutInfo.deliverDate, 'yyyy/MM/dd (E)')}]]
					</p>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h5>Payment Method</h5>
				</div>
				<div class="card-body">
					<div th:if="${checkoutInfo.codSupported}">
						<input type="radio" /> Cash on Delivery (COD)
						&nbsp;
						<button class="btn btn-primary">Place Order with COD</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card">
				<div class="card-header">
					<h5>Order Summary</h5>
				</div>
				<div class="card-body">
				</div>
			</div>
		</div>
	</div>
	
	<div th:replace="navigation :: footer_menu"></div>
</div>	
</body>
</html>








